.status-mach1 {
    -fx-background-color: #1b215c;
}
.status-mach2 {
    -fx-background-color:#27971D;
}
.status-mach3 {
    -fx-background-color:#0F6D86;
}
.status-mach4 {
	-fx-background-color:#153810;
}